<header class="relative px-3 py-2">
  <nav class="flex justify-between">
    <div
      class="w-[170px] md:w-[220px] flex flex-wrap text-black dark:text-white"
    >
      <a href="/blog" class="text-xl font-bold tracking-[.25em] leading-none"
        >JAJOGLOWY
        <span
          class="text-xs font-medium text-rose-500 dark:text-rose-500 tracking-[.05em]"
          >Technology, Culture, Life</span
        ></a
      >
    </div>
    <div class="flex items-center gap-3">
      <div
        class="opacity-[.99] transition-all navLinks absolute md:static md:w-auto w-full md:h-auto h-[100vh] flex md:items-center gap-[1.5vw] top-[100%] left-[-100%] px-5 md:py-0 py-5 bg-white dark:bg-gray-950 z-10 text-black dark:text-white"
      >
        <ul
          class="flex md:flex-row flex-col md:items-center md:gap-[2vw] gap-8"
        >
          <li
            class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#FFFF] dark:from-[#000000] to-rose-500 dark:to-rose-500 after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300 tracking-[.25em]"
          >
            <a href="/">Home</a>
          </li>
          <li
            class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#FFFF] dark:from-[#000000] to-rose-500 dark:to-rose-500 after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300 tracking-[.25em]"
          >
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </div>
      <div class="flex items-center gap-2">
        <button
          title="Toggle Theme"
          (click)="onThemeToggle(true)"
          class="w-12 h-6 rounded-full p-1 bg-white dark:bg-gray-950 relative transition-colors duration-500 ease-in outline-none ring-2 ring-black dark:ring-white focus:border-transparent"
        >
          <div
            id="toggle"
            class="rounded-full w-4 h-4 bg-gray-950 dark:bg-white relative ml-0 dark:ml-6 pointer-events-none transition-all duration-300 ease-out"
          ></div>
        </button>
        <ion-icon
          name="menu"
          (click)="onMenuToggle(this)"
          class="text-[30px] cursor-pointer md:hidden text-black dark:text-white"
        ></ion-icon>
      </div>
    </div>
  </nav>
</header>
